.create_deck{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 4em;
    height:60px;
}
.create_deck input{
    font-size: 1.5em;
    padding: 0.4em;
    outline: none;
    border-radius: 5px;
    height:100%;
}
.create_deck button{
    padding: 0.4em 0.8em;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    text-align: center;
    background-color:rgb(65, 105, 225);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    height: 100%;
}
.create_deck button:hover{
    background-color: rgba(65, 105, 225,0.5);
}