.create_deck{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 4em;
    height:50px;
}
.create_deck input{
    font-size: 1.5em;
    padding: 0.4em;
    outline: none;
    border-radius: 5px;
    height:100%;
}
.create_deck button{
    padding: 0.4em 1.4em;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    text-align: center;
    background-color:rgb(65, 105, 225);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    height: 100%;
    border-radius: 5px;
    outline: none;
    border: 0;
}
.create_deck button:hover{
    background-color: rgba(65, 105, 225,0.5);
}
.error{
    color: red;
    font-size: 1.2em;
}
.display__decks{
    width:70%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap:30px;
}
.deck{
    margin-top: 2em;
    border-radius: 12px;
    background-color:rgba(65, 105, 225,0.8);
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;
}
.deck:hover{
    transform: scale(1.02);
    box-shadow: rgba(249, 246, 246, 0.6) 0px 5px 35px;
}
.delete{
    width: 20px;
    height: 20px;
    position: absolute;
    top:20px;
    right:20px;
}